.lang-h{
	display:flex;
	flex-direction:column;
}
.lang-r{
	display:flex;
	flex-direction:row;
	border-bottom: dotted 1px black;
	padding: 0.25em;
	margin:0 1em 0 1em;
}
.trg{
	flex-grow:1;
	font-weight:bold;
	font-style:normal;
}
.rom{
	flex-grow:1;
	font-style:normal;
}
.prm{
	flex-grow:1;
}